.ground-target-record {
  display: flex;
  flex-direction: column;
}

.ground-target-record .record-header {
  display: flex;
  align-items: center;
  white-space: nowrap;
  margin-bottom: 4px;
}

.ground-target-record .record-header span {
  margin-right: 4px;
}

.ground-target-record .record-header .delete-button {
  color: blue;
}

.ground-target-record .record-header .delete-button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.ground-target-record .record-descriptor {
  padding-left: 8px;
}
