.input-known-targets-form {
  width: 260px;
  display: flex;
  flex-direction: column;
}

.input-known-targets-form .form-title {
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 6px;
  border-bottom: 1px solid grey;
}

.input-known-targets-form .form-title .title {
  flex-grow: 1;
}

.input-known-targets-form .form-title .close-button {
  font-size: 14px;
  color: #7f7f7f;
}

.input-known-targets-form .form-title .close-button:hover {
  cursor: pointer;
}

.input-known-targets-form .targets-status {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 4px;
}

.input-known-targets-form .targets-status .targets-status-header {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.input-known-targets-form .targets-status-header span {
  margin-right: 4px;
}

.input-known-targets-form .targets-status-header button {
  color: darkblue;
  margin-right: 4px;
}

.input-known-targets-form .targets-status-header button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.input-known-targets-form .targets-status .targets-list {
  overflow: auto;
  height: 150px;
  max-height: 150px;
  padding-left: 8px;
}

.input-known-targets-form .targets-status .targets-list .target-element {
  margin-bottom: 2px;
}

.input-known-targets-form .targets-status .targets-list .target-element:last-of-type {
  margin-bottom: 0;
}

.input-known-targets-form .form-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
}

.input-known-targets-form .form-buttons .form-submit {
  width: 90px;
}
