.input-units-form {
  width: 260px;
  display: flex;
  flex-direction: column;
}

.input-units-form .form-controls {
  padding-top: 6px;
  padding-bottom: 6px;
}

.input-units-form .inputs-list .form-input {
  font-size: 11px;
  margin-bottom: 6px;
}

.input-units-form .form-input .add-field-button {
  margin-top: 6px;
  padding-left: 6px;
  padding-right: 6px;
  height: 26px;
  font-size: 13px;
  color: #555555;
  border: 1px solid grey;
  border-radius: 5px;
}

.input-units-form .form-input .add-field-button:first-child {
  margin-top: 0;
}

.input-units-form .form-input .add-field-button:hover {
  cursor: pointer;
  color: blue;
  border: 1px solid blue;
}

.input-units-form .form-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-units-form .form-buttons .form-submit-button {
  width: 90px;
}
