.mission-record {
  height: 24px;
  line-height: 24px;
  white-space: nowrap;
}

.mission-record span {
  margin-right: 4px;
}

.mission-record button {
  color: darkblue;
}

.mission-record button:hover {
  cursor: pointer;
  text-decoration: underline;
}
