.add-unit-type-form {
  width: 320px;
  display: flex;
  flex-direction: column;
}

.add-unit-type-form .form-title {
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 6px;
  border-bottom: 1px solid grey;
}

.add-unit-type-form .form-title .title {
  flex-grow: 1;
}

.add-unit-type-form .form-title .close-button {
  font-size: 14px;
  color: #7f7f7f;
}

.add-unit-type-form .form-title .close-button:hover {
  cursor: pointer;
}

.add-unit-type-form .inputs-list .form-input {
  font-size: 11px;
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 6px;
}

.add-unit-type-form .inputs-list .form-input input[type='text'] {
  height: 26px;
  width: 80%;
}

.add-unit-type-form .inputs-list .form-input .input-range {
  margin-top: 16px;
  margin-bottom: 22px;
}

.add-unit-type-form .form-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
}

.add-unit-type-form .form-buttons .form-submit-button {
  width: 90px;
}
