.missions-list-control {
  width: fit-content;
  min-width: 260px;
  font-size: 13px;
}

.missions-list-control .control-content {
  margin-top: 4px;
  padding-bottom: 4px;
  min-height: 200px;
}

.missions-list-control .missions-list {
  padding-left: 4px;
  padding-right: 4px;
  overflow: auto;
  max-height: 260px;
}
