.unit-record {
  display: flex;
  flex-direction: column;
}

.unit-record .record-header {
  height: 24px;
  display: flex;
  align-items: center;
}

.unit-record .record-header span {
  margin-right: 4px;
}

.unit-record .record-descriptor {
  padding-left: 8px;
}

.unit-record .record-descriptor .descriptor-coordinate {
  height: 20px;
}
