.units-group-status-control {
  width: 260px;
  font-size: 13px;
}

.units-group-status-control .status-description {
  min-height: 200px;
}

.units-group-status-control .status-description .status-list {
  padding-top: 4px;
  padding-bottom: 4px;
}

.units-group-status-control .status-list .status-element {
  padding-left: 4px;
  padding-right: 4px;
}
