.units-list {
  min-width: 260px;
  min-height: 200px;
  max-height: 240px;
  display: flex;
  flex-direction: column;
}

.units-list .list-title {
  display: flex;
  align-items: center;
  height: 30px;
  border-bottom: 1px solid grey;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 6px;
}

.units-list .list-title .title {
  flex-grow: 1;
}

.units-list .list-title .close-button {
  font-size: 14px;
  color: #7f7f7f;
}

.units-list .list-title .close-button:hover {
  cursor: pointer;
}

.units-list .list-records {
  overflow: auto;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 6px;
}

.units-list .list-records .list-record {
  border-bottom: 2px;
}

.units-list .list-records .list-record:last-of-type {
  border-bottom: none;
}
