.show-units-list {
  min-width: 260px;
  max-height: 320px;
  width: fit-content;
  display: flex;
  flex-direction: column;
}

.show-units-list .list-title {
  display: flex;
  align-items: center;
  height: 30px;
  border-bottom: 1px solid grey;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 6px;
}

.show-units-list .list-title .title {
  flex-grow: 1;
}

.show-units-list .list-title .close-button {
  font-size: 14px;
  color: #7f7f7f;
}

.show-units-list .list-title .close-button:hover {
  cursor: pointer;
}

.show-units-list .units-list {
  overflow: auto;
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 6px;
}

.show-units-list .units-list .unit-record {
  display: flex;
  align-items: center;
  height: 30px;
  white-space: nowrap;
}

.show-units-list .units-list .unit-record:last-of-type {
  border-bottom: none;
}

.show-units-list .units-list .unit-record span {
  margin-right: auto;
}

.show-units-list .units-list .unit-record .show-button {
  margin-left: 8px;
  color: blue;
}

.show-units-list .units-list .unit-record .show-button:hover {
  cursor: pointer;
  text-decoration: underline;
}
