.input-mission-form {
  width: 260px;
  display: flex;
  flex-direction: column;
}

.input-mission-form .form-title {
  display: flex;
  align-items: center;
  height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 6px;
  border-bottom: 1px solid grey;
}

.input-mission-form .form-title .title {
  flex-grow: 1;
}

.input-mission-form .form-title .close-button {
  font-size: 14px;
  color: #7f7f7f;
}

.input-mission-form .form-title .close-button:hover {
  cursor: pointer;
}

.input-mission-form .inputs-list {
  padding-left: 8px;
  padding-right: 8px;
}

.input-mission-form .inputs-list .form-input {
  font-size: 11px;
  margin-bottom: 6px;
}

.input-mission-form .form-input input {
  height: 26px;
  width: 100%;
}

.input-mission-form .form-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 6px;
}

.input-mission-form .form-buttons .form-submit {
  width: 90px;
}
