.app-header-info {
  height: 40px;
  display: flex;
  background-color: rgb(140, 140, 140);
  border-bottom: 1px solid rgb(110, 110, 110);
  padding-left: 10px;
  padding-right: 10px;
}

.app-header-info .user-status {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.user-status .user-status-element {
  margin-right: 10px;
}

.user-status .user-status-element:last-of-type {
  margin-right: none;
}

.user-status .user-status-button {
  width: 26px;
  height: 26px;
  line-height: 26px;
  border-radius: 100%;
  background-color: white;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.35);
}

.user-status .user-status-button:hover {
  cursor: pointer;
}

.user-status .user-status-button i {
  font-size: 14px;
  color: #555555;
}

.user-status .user-exit-button {
  text-align: center;
  padding-left: 6px;
  padding-right: 6px;
  height: 26px;
  width: 80px;
  line-height: 26px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.35);
}

.user-status .user-exit-button:hover {
  cursor: pointer;
}
