.app-header-info {
  height: 40px;
  display: flex;
  background-color: rgb(140, 140, 140);
  border-bottom: 1px solid rgb(110, 110, 110);
  padding-left: 10px;
  padding-right: 10px;
}

.app-header-info .user-status {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.user-status .user-status-element {
  margin-right: 10px;
}

.user-status .user-status-element:last-of-type {
  margin-right: none;
}

.user-status .user-status-button {
  width: 26px;
  height: 26px;
  border-radius: 100%;
}

.user-status .user-status-button i {
  font-size: 13px;
  color: #555555;
}

.user-status .user-exit-button {
  width: 80px;
}
