.input-mission-control {
  max-height: calc(100vh - 80px);
  font-size: 13px;
}

.input-mission-control .form-controls {
  padding-top: 6px;
  padding-bottom: 6px;
}

.input-mission-control .state-controls .controls-block {
  margin-bottom: 2px;
  display: flex;
}

.input-mission-control .state-controls .controls-block:last-of-type {
  margin-bottom: 0;
  border-bottom: none;
}

.input-mission-control .controls-block .block-icon {
  margin-right: 8px;
  height: 30px;
  line-height: 30px;
  vertical-align: top;
}

.input-mission-control .controls-block .block-icon i {
  color: #7f7f7f;
}

.input-mission-control .controls-block .controls-list {
  flex-grow: 1;
}

.input-mission-control .controls-block .controls-list .control {
  position: relative;
  margin-top: 2px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  height: 30px;
}

.input-mission-control .controls-block .controls-list .control:first-of-type {
  margin-top: 0;
}

.input-mission-control .control .control-panel {
  z-index: 100;
  position: absolute;
  top: 0;
  left: calc(100% + 16px);
}

.input-mission-control .form-controls .submit-controls {
  margin-top: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-mission-control .submit-controls .submit-controls-button {
  margin-right: 4px;
  width: 90px;
}

.input-mission-control .submit-controls .submit-controls-button:last-of-type {
  margin-right: 0;
}
